QPushButton {
    background-color: #e98717;
    color: #002333;
    border: none;
    text-align: center;
    border-radius: 10px;
    font-size: 16px;
    padding: 2px;
    font-weight: bold;
}

QPushButton:hover {
    background-color: #D94F04;
    color: #BFBFBF;
}

QPushButton:pressed {
    background-color: #ffc400;
    color: #FFFFFF;
}

QComboBox {
    border: 1px solid #F29325;
    border-radius: 10px;
    padding: 5px;
    font-size: 14px;
    background-color: #747E7E;
    color: #d3d3d3;
}

QComboBox:hover {
    border: 3px solid #D94F04;
}

QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 25px;
    border-left-width: 1px;
    border-left-color: #F29325;
    border-left-style: solid;
    background-color: #e77736; /* Changed color */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


QComboBox QAbstractItemView {
    background-color: #924d20; /* Changed color */
    color: #cccccc;
    border: 1px solid #f26625;
    selection-background-color: #f5e3ce;
    selection-color: #5a5a5a;
}

QLabel {
    color: #313131;
    font-size: 14px;
    border: none;
}

QDialog {
    background-color: #c2c2c2;
    color: #616161;
    border-radius: 10px;
    padding: 10px;
}

QFrame {
    background-color: #afafaf;
    color: #242424;
    border-radius: 10px;
    padding: 2px;
}

QProgressBar {
    border: 2px solid #F29325;
    background-color: #747E7E;
    border-radius: 5px;
    text-align: center;
    font-size: 10px;
    color: #a5a5a5;
}

QProgressBar::chunk {
    background-color: #F29325;
    width: 10px;
    margin: 1px;
    border-radius: 2px;
}