modules/__pycache__
models/
__pycache__
modules/temp/extracted_audio.wav
venv/
DogeAutoSub.zip
DogeAutoSub.bat
.vscode/settings.json
build/
dist/
modules/downloadModel.py
release_1.02.zip
Stable1.02.zip
